<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.RelationMapper">

    <insert id="follow">
        insert into relation (to_user_id, from_user_id) VALUES (#{toUserId}, #{fromUserId}) on DUPLICATE KEY UPDATE status = status | 1;
    </insert>
    <insert id="syncFollow">
        insert into relation (to_user_id, from_user_id) VALUES (#{toUserId}, #{fromUserId}) on DUPLICATE KEY UPDATE status = status | 2;
    </insert>
    <update id="unFollow">
        update relation set type = type ^ (~1) where to_user_id = #{toUserId} and from_user_id = #{fromUserId};
    </update>
    <update id="syncUnFollow">
        update relation set type = type ^ (~2) where to_user_id = #{toUserId} and from_user_id = #{fromUserId};
    </update>
    <select id="queryFollowList" resultType="org.example.entity.Relation">
        select to_user_id from relation where from_user_id = #{userId} and status > 0;
    </select>
    <select id="queryFollowerList" resultType="org.example.entity.Relation">
        select from_user_id from relation where to_user_id = #{userId} and status > 0;
    </select>
    <select id="queryFriendList" resultType="org.example.entity.Relation">
        select to_user_id from relation where from_user_id = #{userId} and status = 3;
    </select>
</mapper>