<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.CommentMapper">
    <insert id="insertComment">
        insert into comment (video_id, user_id, root, parent, content)
        values (#{videoId}, #{userId}, #{root}, #{parent}, #{content})
    </insert>
    <select id="queryCommentsByRoot" resultType="Comment">
        select * from comment where video_id = #{videoId} and root = #{root} order by ctime DESC
    </select>
</mapper>